{% extends 'base.html.twig' %}

{% block title %}Liste des pays{% endblock %}

{% block body %}
    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Liste des pays</h1>

    <a href="{{ path('app_back_country_new') }}">
        <button type="button" class="my-2 mx-auto w-24 flex justify-center focus:outline-none text-white bg-emerald-700 hover:bg-emerald-600 focus:ring-4 focus:ring-emerald-300 text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:focus:ring-emerald-700">Créer</button>
    </a>
    {# select filter by country name #}
    <div class="w-10/12 md:w-1/3 mx-auto">
        <input type="text" id="countryFilter" class="my-2 px-3 py-2 w-full border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-500" placeholder="Filtre par nom de pays">
    </div>

    <div class="overflow-x-auto">
        <table class="md:table-auto mx-3 md:mx-auto text-sm lg:text-base text-left dark:text-gray-400">
            <thead>
                <tr class="border-2 divide-x text-center">
                    <th>Id</th>
                    <th>Nom du pays</th>
                    <th>Visa</th>
                    <th>Visa requis</th>
                    <th>Devise</th>
                    <th>Image</th>
                    <th>Image Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr class="border-2 divide-x text-center country-row">
                    <td>{{ country.countryId }}</td>
                    <td class="country-name">{{ country.countryName }}</td>
                    <td>{{ country.countryVisa }}</td>
                    <td>{{ country.countryVisaIsRequired ? 'Yes' : 'No' }}</td>
                    <td>{{ country.countryCurrency }}</td>
                    <td class ="align-middle text-start text-break max-w-2xs img-thumbnail"><img src="{{country.image_url}}"></td>
                    <td>{{ country.image_id }}</td>
                    <td>
                        <a href="{{ path('app_back_country_show', {'id': country.countryId}) }}">
                            <button type="button" class="my-2 w-full flex justify-center focus:outline-none text-white bg-sky-700 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 text-sm md:text-base font-medium leading-6 rounded-lg px-3 py-1.5 dark:bg-sky-400 dark:hover:bg-sky-500 dark:focus:ring-sky-700">Détails</button>
                        </a>
                        <a href="{{ path('app_back_country_edit', {'id': country.countryId}) }}">
                            <button class="relative inline-flex items-center justify-center w-full p-0.5 mb-2 mr-2 overflow-hidden text-sm md:text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-900 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:outline-none focus:ring-cyan-200">
                                <span class="relative w-full px-5 py-1 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">Modifier</span>
                            </button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas d'enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
