{% extends 'base.html.twig' %}

{% block title %}Détails de l'image{% endblock %}

{% block body %}
    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900 w-full">Image de {{ image.city.name }}</h1>

    <div class="overflow-x-auto flex flex-col">
        <table class="w-10/12 md:w-2/3 md:table-auto mx-auto text-sm lg:text-base text-left dark:text-gray-400">
            <tbody class="border-2 divide-x divide-y text-center">
                <tr class="border-2 divide-x">
                    <th class="px-5">Id</th>
                    <td class="px-5">{{ image.id }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Ville</th>
                    <td class="px-5">{{ image.city.name }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Url</th>
                    <td class="px-5 break-all text-left text-xs md:text-sm flex flex-wrap">{{ image.url }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Photo</th>
                    <td class ="w-2/3 md:w-96 align-middle img-thumbnail flex justify-center"><img src="{{ image.url }}" class="w-2/3 lg:w-3/4"></td>
                </tr>
            </tbody>
        </table>
    
        <div class="flex flex-col mt-3 text-center w-10/12 md:w-1/2 mx-auto">
            <a href="{{ path('app_back_image_edit', {'id': image.id}) }}">
                <button type="button" class="w-full md:w-2/3 lg:w-1/2 my-1 rounded-md bg-cyan-900 px-3 py-1.5 text-base font-medium leading-6 text-white shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 mt-6">Modifier</button>
            </a>

            <a href="{{ path('app_back_image_index') }}">
                <button type="button" class="w-full md:w-2/3 lg:w-1/2 my-1 justify-center relative overflow-hidden inline-flex items-center border-2 border-blue-400 focus:outline-none text-gray-900 rounded-md group bg-gradient-to-br from-cyan-900 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-cyan-200">
                    <span class="relative w-full px-3 py-1.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">Retour à la liste</span>
                </button>
            </a>
            {{ include('back/image/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
