{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Utilisateur</h1>

    <div class="flex flex-col items-center">
        <table class="table mx-auto">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Mot de passe</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.username }}</td>
                </tr>
            </tbody>
        </table>

        <div class="flex flex-col items-center mt-4">

            <a href="{{ path('app_back_user_edit', {'id': user.id}) }}">
                <button type="button" class="w-full md:w-2/3 lg:w-1/2 my-1 rounded-md bg-cyan-900 px-3 py-1.5 text-base font-medium leading-6 text-white shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 mt-6">Modifier</button>
            </a>

            {{ include('back/user/_delete_form.html.twig') }}

            <a href="{{ path('app_back_user_index') }}">
                <button type="button" class="w-full md:w-2/3 lg:w-1/2 my-1 justify-center relative overflow-hidden inline-flex items-center border-2 border-blue-400 focus:outline-none text-gray-900 rounded-md group bg-gradient-to-br from-cyan-900 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-cyan-200">
                    <span class="relative w-full px-3 py-1.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">Retour à la liste</span>
                </button>
            </a>

        </div>

    </div>

{% endblock %}
