{% extends 'base.html.twig' %}

{% block title %}Détails de la ville{% endblock %}

{% block body %}

    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900 w-full">{{ city.name }}</h1>

    
    <div class="overflow-x-auto w-5/6 md:w-2/3 lg:w-1/3 mx-auto flex flex-col">
    <small>*Supprimer les images <span class="underline decoration-solid">avant</span> de supprimer la ville</small>
        <table class="md:table-auto text-sm lg:text-base text-left dark:text-gray-400">
            <tbody class="border-2 divide-x divide-y text-center">
                <tr class="border-2 divide-x">
                    <th class="px-5">Id</th>
                    <td class="px-5">{{ city.id }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Ville</th>
                    <td class="px-5">{{ city.name }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Pays</th>
                    <td class="px-5">{{ city.country.name }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Superficie (m²)</th>
                    <td class="px-5">{{ city.area }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Qualité électrique</th>
                    <td class="px-5">{{ city.electricity }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Qualité Internet</th>
                    <td class="px-5">{{ city.internet }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Taux soleil</th>
                    <td class="px-5">{{ city.sunshineRate }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Température (°C)</th>
                    <td class="px-5">{{ city.temperatureAverage }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Coût (€)</th>
                    <td class="px-5">{{ city.cost }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Langue</th>
                    <td class="px-5">{{ city.language }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Nombre d'habitants</th>
                    <td class="px-5">{{ city.demography }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Niveau logement</th>
                    <td class="px-5">{{ city.housing }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Fuseau horaire (GMT)</th>
                    <td class="px-5">{{ city.timezone }}</td>
                </tr>
                <tr class="border-2 divide-x">
                    <th class="px-5">Environnement</th>
                    <td class="px-5">{{ city.environment }}</td>
                </tr>
                {% for image in city.images %}
                <tr class="border-2 divide-x">
                    <th class="px-5">Image Id*</th>
                    <td class="px-5 flex flex-col">
                        <a href="{{ path('app_back_image_delete', {'id': image.id}) }}" class="focus:outline-none text-orange-700 hover:orange-600">{{ image.id }}</a>
                        <small class="text-xs italic">Supprimer les images cliquez sur l'id</small>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div class="flex flex-col mt-3 text-center">
            <a href="{{ path('app_back_city_edit', {'id': city.id}) }}">
                <button type="button" class="w-full md:w-2/3 lg:w-1/2 my-1 rounded-md bg-cyan-900 px-3 py-1.5 text-base font-medium leading-6 text-white shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 mt-6">Modifier</button>
            </a>

            <a href="{{ path('app_back_city_index') }}">
                <button type="button" class="w-full md:w-2/3 lg:w-1/2 my-1 justify-center relative overflow-hidden inline-flex items-center border-2 border-blue-400 focus:outline-none text-gray-900 rounded-md group bg-gradient-to-br from-cyan-900 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-cyan-200">
                    <span class="relative w-full px-3 py-1.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">Retour à la liste</span>
                </button>
            </a>
            {{ include('back/city/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
